<footer>
    <!-- Required footer -->
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col">
                <h4>Related to SOCS</h4>
                <p><a href="https://mcgill-csus.ca/">CSUS</a></p>
                <p><a href="https://www.mcwics.com/">Women in CS</a></p>
                <p><a href="https://mchacks.ca/">McHacks</a></p>
                <p><a href="https://cs.mcgill.ca/">CS @ McGill</a></p>
            </div>

            <div class="col">
                <h4>Get in touch</h4>
                <p><a href="/about/contacts">Contact Us</a></p>
                <p><a href="/about/contacts">HelpDesk</a></p>
                <p><a href="/about/contacts">Hire a student</a></p>
                <p><a href="/about/contacts">Media</a></p>
            </div>

            <div class="col">
                <h4>Shortcuts</h4>
                <p><a href="/employment/faculty">Career</a></p>
                <p><a href="/news/all">News</a></p>
                <p><a href="/events/all">Events</a></p>
                <p><a href="about/contacts">Content related request</a></p>
            </div>

        </div>

        <div id="logos" class="container-fluid">
           <a href="https://www.facebook.com/McGillCS/">Facebook</a>  <a href="https://www.instagram.com/mcgillu/?hl=en">Instagram</a>
        </div>
    </div>
    <hr>

    <div class="d-flex justify-content-between p-3">
        <span>© McGill University 2020 Credits</span>
        <div id="footer-logo">
            <img src="https://www.cs.mcgill.ca/static/base/logo-footer.png" alt="logo">
        </div>
    </div>
    <!-- Add a Sitemap here -->
</footer>