<nav>
    <div id="user-bar">
        <% if (logged) {%>
            <%- include('user-logged.ejs'); %>
        <% } else { %>
            <%- include('user-box.ejs'); %>
        <% } %>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <img src="../images/coat-of-arms.png" alt="Coat of arms" onclick="window.location='/'">
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#prospective">
                Prospective
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Academic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Research</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">People</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Employement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Donate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#about">About</a>
        </li>
    </ul>
    <!-- We have all this information stored in the database, why not redner it from there?-->
    <div id="prospective" class="collapse container-fluid">
        <a href="/prospective/general-info" class="unit">General Info</a>
        <a href="/prospective/why-cs" class="unit">Why CS?</a>
        <a href="/prospective/cegep" class="unit">CEGEP</a>
        <a href="/prospective/freshman" class="unit">Freshman</a>
        <a href="/prospective/choosing-major" class="unit">Choosing a Major</a>
        <a href="/prospective/transfer" class="unit">Transfer</a>
        <a href="/prospective/internship" class="unit">Internship</a>
        <hr>
        <a href="prospective/undergraduate" class="unit">Undergraduate</a>
        <a href="prospective/graduate" class="unit">Graduate</a>
    </div>
    <div id="about" class="collapse container-fluid">
        <a href="/about/general" class="unit">General</a>
    </div>
</nav>