<nav>
    <ul class="nav">
        <li class="nav-item">
            <img src="images/coat-of-arms.png" alt="Coat of arms" onclick="window.location = '/'">
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#prospective">
                Prospective
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Academic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Research</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">People</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Employement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Donate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">About</a>
        </li>
    </ul>

    <div id="prospective" class="collapse container-fluid">
        <a class="item"><a href="/subpage">General Info</a></a>
        <a class="item">Why CS?</a>
        <a class="item">CEGEP</a>
        <a class="item">Freshman</a>
        <a class="item">Choosing a Major</a>
        <a class="item">Transfer</a>
        <a class="item">Internship</a>
        <hr>
        <a class="item">Undergraduate</a>
        <a class="item">Graduate</a>
    </div>
</nav>