<nav>
    <ul class="nav">
        <li class="nav-item">
            <img src="../images/coat-of-arms.png" alt="Coat of arms" onclick="window.location='/'">
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#prospective">
                Prospective
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Academic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Research</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">People</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Employement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Donate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">About</a>
        </li>
    </ul>

    <div id="prospective" class="collapse container-fluid">
        <a href="prospective/general-info" class="unit">General Info</a>
        <a href="prospective/whyCS"class="unit">Why CS?</a>
        <a class="unit">CEGEP</a>
        <a class="unit">Freshman</a>
        <a class="unit">Choosing a Major</a>
        <a class="unit">Transfer</a>
        <a class="unit">Internship</a>
        <hr>
        <a class="unit">Undergraduate</a>
        <a class="unit">Graduate</a>
    </div>
</nav>