<h1>Settings</h1>
<%- include("./messages"); %>
<form onsubmit="onSubmit(event, $(this)[0])" id='lr-form' method="POST">
    <div> Change username: Please enter my new email! </div>
    <div class="form-item" id="username-box">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" <% %> value=<%- user %> <% %> onblur="checkUser($(this)[0])">
        <div class='error'></div>
    </div>
    <div> Change passwords: </div>
    <div class="form-item" id="pass-box">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" onblur="checkPass(true, $(this)[0])">
        <div class='error'></div>
    </div>
    <div class="form-item" id="conf-box">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confPassword" placeholder="Confirm Password" onblur="checkPass(false, $(this)[0])">
        <div class='error'></div>
    </div>
    <div> Change email: Please enter my new email </div>
    <div class="form-item" id="email-box">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" <% %> value=<%- email %> <% %> onblur="checkEmail($(this)[0])">
        <div class='error'></div>
    </div>
    <div class="form-item" id="theme-box">
        <select name="userTheme" id="user-theme">
            <option value="default">Default</option>
            <option value="dark">Dark</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
        </select>
        
    </div>
    <div> Please enter my current password! </div>
    <div class="form-item" id="current-pass-box">
        <label for="password">Current Password:</label>
        <input type="password" id="current-password" name="curPassword" placeholder="Password" onblur="currentPass($(this)[0])">
        <div class='error'></div>
    </div>
    <input id="submit-btn" type="submit" value="Edit">
</form>