<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://www.cs.mcgill.ca/static/base/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/subpage.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <title> CS Dasboard</title>

    <!-- I created a user called 'admin' with password 'admin123' which has a userType 1 and can access the full Dashboard -->
</head>

<body>
    <%- include('partials/navbar', {logged, user}); %>

    <div id="content">
        <div id="center">
            <!-- Dashboard content -->

            <!-- Need to create a schema (and store it in the db) for the following elements : -->
            <!-- TA Posting, Awards,  News, Events, Posting, Technical Support -->

            <h1>Computer Science Website Administration</h1>

            <h2> Visitors</h2>

            <!-- What is a visitor Form ?-->
            <button>Add a Visitor form</button>

            <hr>
            <h2>Data Modification</h2>
            <div class="row">
                <div class="col ">
                    <h3>TA</h3>
                    <button onclick="toggleForm('addTA')">Add Posting</button>
                    <button onclick="toggleForm('addAward')">Add Award Recipient</button><br>
                    
                    <select id="modAward" class="form-control" name="modAward">
                        <option>Modify Award Recipient</option>
                        <option value='Ta'>Ta name for COMP XX (Winter/Fall XXX)</option>
                    </select>

                    <h3>Course</h3>
                    <button>Add</button> <br>
                    <select class="form-control" id="modCourse" name="modCourse">
                        <option>Course</option> 
                        <option value='XXX'>XXX - Name of course</option>
                    </select>

                    <h3> Posting</h3>
                    <button onclick="toggleForm('addPosting')">Add</button><br>

                    <select class="form-control" id="modPosting" name="modPosting">
                        <option>Modify Posting</option> 
                        <option value='title'>title</option>
                    </select> <br>

                </div>
                <div class="col">
                    <h3> News & Events</h3>
                    <button onclick="toggleForm('addNews')">Add News</button> <br>

                    <select class="form-control" id="modnews" name="modNews">
                        <option>Modify News Story</option> 
                        <option value='title'>title</option>
                    </select> <br>

                    <button onclick="toggleForm('addEvent')">Add Events</button> <br>

                    <select class="form-control" id="modEvent" name="modEvent">
                        <option>Modify Events</option> 
                        <option value='title'>title</option>
                    </select> <br>

                    <h3 class="mt-3"> Technical Support</h3>
                    <button onclick="toggleForm('addTech')">Add</button> <br>

                    <select class="form-control" id="modTech" name="modTech">
                        <option>Modify Technical Support</option> 
                        <option value='title'>title</option>
                    </select> <br>
                </div>

            </div>
            <hr>
            <h3> Other</h3>
            <button>Modify Color Palette</button>
        </div>

        <!-- The forms will only be renderer if the user is of type 1 or above -->
        <!-- Make these async? Sends down a path and returns an answer which renders a message? Seem like the best idea! -->
        <!-- Make all the required fields required, e.prevent default the form -->
        <% if(type>0) {  %> 
        <!-- Add TA Posting -->
        <form id="addTA" class="hidden" method="POST" onsubmit="handleRequest(event, $(this))">
            <span id="closeIcon" onclick="toggleForm('addTA')">&times;</span>
            <h2> Add TA Posting</h2>
            <label for="course">Course:</label>
            <input type="text" id="course" name="course" placeholder="COMP XXX"> <br>

            <label for="semester">Semester:</label>
            <select id="semester" name="semester">
                <option value='w2021'>Winter 2021</option>
                <option value='f2021'>Fall 2021</option>
                <option value='w2022'>Winter 2022</option>
            </select>

            <label for="contact" class="p-3">Contact:</label>
            <input type="text" id="taContact" name="date" placeholder="Person to contact for more information"> <br>

            <label for="description">Description:</label>
            <input type="text" id="taDescription" name="description" placeholder="Short description of the posting"> <br>
            
            <button type="submit">Add TA Posting</button>
        </form>

         <!-- Add Award -->
         <form id="addAward" class="hidden" method="POST" onsubmit="handleRequest(event, $(this))">
            <span id="closeIcon" onclick="toggleForm('addAward')">&times;</span>
            <h2> Add Award recipient</h2>

            <label for="title">Title:</label>
            <input type="text" id="awardTitle" name="title" placeholder="New Award for XX "> <br>
            
            <label for="date" class="pt-3">Date:</label>
            <input type="date" id="date" name="date" placeholder="YYYY-MM-DD" min="2020-12-01">

            <label for="recipient">Recipient:</label>
            <input type="text" id="recipient" name="recipient" placeholder="Recipient"> <br>

            <label for="description">Description:</label>
            <input type="text" id="awardDescription" name="description" placeholder="Short description"> <br>
            
            <button type="submit">Add Award</button>
        </form>

        <!-- Add News -->
        <form id="addNews" class="hidden" method="POST" onsubmit="handleRequest(event, $(this))">
            <span id="closeIcon" onclick="toggleForm('addNews')">&times;</span>
            <h2> Add News</h2>
            <label for="type">News about:</label>
            <select id="newsType" name="type">
                <option value='faculty'>Faculty</option>
                <option value='lecturer'> Course Lecturer</option>
                <option value='research'> Research</option>
                <option value='student'> Student</option>
            </select>

            <label for="title">Title:</label>
            <input type="text" id="newsTitle" name="title" placeholder="Posting Available"> <br>

            <label for="date" class="pt-3">Start date:</label>
            <input type="date" id="newsStartdate" name="startdate" placeholder="YYYY-MM-DD" min="2020-12-01">

            <label for="date" class="pt-3">End date:</label>
            <input type="date" id="newsEnddate" name="enddate" placeholder="YYYY-MM-DD" min="2020-12-01"> <br>

            <label for="contact" class="p-3">Contact:</label>
            <input type="text" id="newsContact" name="contact" placeholder="Person to contact for more information"> <br>

            <label for="description">Description:</label>
            <input type="text" id="newsDescription" name="description" placeholder="Short description"> <br>
            
            <button type="submit">Add News</button>
        </form>

        <!-- Add Event -->
        <form id="addEvent" class="hidden" method="POST" onsubmit="handleRequest(event, $(this))">
            <span id="closeIcon" onclick="toggleForm('addEvent')">&times;</span>
            <h2> Add Event</h2>
            <label for="type">Event:</label>
            <select id="eventType" name="type">
                <option value='colloquium'>Colloquium</option>
                <option value='seminar'> Seminar</option>
                <option value='info-session'> Info Session</option>
                <option value='other'> Other</option>
            </select>

            <label for="title">Title:</label>
            <input type="text" id="eventTitle" name="title" placeholder="Posting Available"> <br>

            <label for="startdate" class="pt-3">Start Date:</label>
            <input type="datetime-local" id="eventStartdate" name="startdate" min="2020-10-07T09:00"><br>

            <label for="enddate" class="pt-3">End date:</label>
            <input type="datetime-local" id="eventEnddate" name="enddate" min="2020-10-07T09:00"> <br>

            <label for="host" class="p-3">Hosted By:</label>
            <input type="text" id="host" name="host" placeholder="Host"> <br>

            <label for="description">Description:</label>
            <input type="text" id="eventDescription" name="description" placeholder="Short description of the Event"> <br>
            
            <button type="submit">Add Event</button>
        </form>

        <!-- Add Technical Support -->
        <form id="addTech" class="hidden" method="POST"  onsubmit="handleRequest(event, $(this))">
            <span id="closeIcon" onclick="toggleForm('addTech')">&times;</span>
            <h2> Add Technical Support</h2>
    
            <label for="title" class="p-3">Title:</label>
            <input type="text" id="techTitle" name="title" placeholder="Title"> <br>

            <label for="description">Description:</label>
            <input type="text" id="techDescription" name="description" placeholder="Short description"> <br>
            
            <button type="submit">Add Technical Support</button>
        </form>

        <!-- Add Posting -->
        <form id="addPosting" class="hidden" method="POST"  onsubmit="handleRequest(event, $(this))">
            <span id="closeIcon" onclick="toggleForm('addPosting')">&times;</span>
            <h2> Add Posting</h2>
            <label for="type">Posting for:</label>
            <select id="posting-type" name="type">
                <option value='faculty'>Faculty</option>
                <option value='lecturer'> Course Lecturer</option>
                <option value='research'> Research</option>
                <option value='student'> Student</option>
            </select>

            <label for="title">Title:</label>
            <input type="text" id="postingTitle" name="title" placeholder="Posting Available"> <br>

            <label for="date" class="pt-3">Start date:</label>
            <input type="date" id="postingStartdate" name="startdate" placeholder="YYYY-MM-DD" min="2020-12-01">

            <label for="date" class="pt-3">End date:</label>
            <input type="date" id="postingEnddate" name="enddate" placeholder="YYYY-MM-DD" min="2020-12-01"> <br>

            <label for="contact" class="p-3">Contact:</label>
            <input type="text" id="postingContact" name="contact" placeholder="Person to contact for more information"> <br>

            <label for="description">Description:</label>
            <input type="text" id="postingDescription" name="description" placeholder="Short description of the posting"> <br>
            
            <button type="submit">Add Posting</button>
        </form>
    <% }  %> 
    </div>
    <%- include('partials/footer'); %>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
<%- content.scripts %>