<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>McGill School Of Computer Science</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://www.cs.mcgill.ca/static/base/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/general.css">
    <script src="/js/homepage.js"></script>
    <!-- Add icon -->
</head>

<body>
    <!-- Top ofthe page, appears with school logo middle
            Search logo on the right-->
    <div id="header" class="fixed-top scrolled">
        <div id='logo-header'>
            <img src="images/coat-of-arms.png" alt="Coat of arms">
            <img src="images/McGill.png" alt="McGill">
            <img src="images/school-of-computer-science.png" alt="school of CS">
        </div>
    </div>

    <!-- Background video that appears and take the whole page on load 
            Slide down and content appears-->
    <div id="background-video" class="container-fluid">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Lorne_M._Trottier_Engineering_Building.jpg"
            alt="Trottier Building">
    </div>

    <!-- Appears When scrolling down, once reach top of the page, collapse to the side with hamburger icon statically on the side-->
    <%- include('partials/navbar', {logged, user}); %>

    <div id="teaching" class="content container-fluid">
        <h2>teaching@cs</h2>
        <!-- Slideshow
            image with title that appears on transition -->

    </div>

    <!-- Events and latest should be side to side -->
    <div id="events" class="content container-fluid">
        <h2>events@cs</h2>
        <!-- events 
                Listing of evetns with logo of date and time-->
        <button class="btn">Learn more about Events</button>
    </div>

    <div id="latest" class="content container-fluid">
        <h2>latest@cs</h2>
        <!-- latest 
                Also slideshow images that appears with title of informations
            on hover, image blurs out and info listing appears-->
    </div>

    <div id="posting" class="content container-fluid">
        <h2>posting@cs</h2>
        <!--Posting of latest jobs on the cs website-->
        <button class="btn">Learn more about Job Posting</button>
    </div>

    <!-- Extra to maybe include -->
    <!-- <div id="first year tips">
        <h3>Tips to Navigate Mcgill website for first year students</h3>
        <p> Important websites for classes.
                Questions about your carreer ? Here is the help you need
                International student : everything you need to know about immigration
                Still confused : here who you can contact
                About to graduate ? don't freak out, some help click here
            </p>
    </div> -->

    <%- include('partials/footer'); %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>