<h1>Register</h1>
<form onsubmit="onSubmit(event, $(this)[0])" id='lr-form' method="POST">
    <div class="form-item" id="username-box">
        <label for="username">User:</label>
        <input type="text" id="username" name="username" placeholder="Username" onblur="checkUser($(this)[0])">
        <div class='error'></div>
    </div>
    <div class="form-item" id="pass-box">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" onblur="checkPass(true, $(this)[0])">
        <div class='error'></div>
    </div>
    <div class="form-item" id="conf-box">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" onblur="checkPass(false, $(this)[0])">
        <div class='error'></div>
    </div>
    <div class="form-item" id="email-box">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="email@[mail.]mcgill.com" onblur="checkEmail($(this)[0])">
        <div class='error'></div>
    </div>
    <input id="submit-btn" type="submit" value="Register">
</form>