h3 {
    margin : 0.5em 0 0 0;
}
#content{
    display: grid;
    place-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    
}
#center, form {
    border-radius: 10px;
    padding: 10px;
    width: 50rem;
    background-color: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
#center.hidden{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

form{
    position: absolute;
    top: 50%;
    left:20%;
    transition: all 0.5s;
}

form.hidden{
    display: none;
}

.form-control {
    width:70%;
    display: inline-block;
}
#closeIcon {
    position: absolute;
    right:1.2em;
}

#closeIcon:hover {
    cursor: pointer;
}
button{
    background-color: transparent;
    color: var(--mcgill-burgundy);
    border-radius: 5px;
    border: 0.1em solid var(--mcgill-burgundy);
    padding: 0.5em 1em;
    transition-duration: 0.5s;
    margin : 1em 0.2em;
}

button:hover {
    background-color:var(--mcgill-burgundy);
    color: white;
    transition-duration: 0.5s;
}