.card-deck{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}

@media screen and (max-width: 1200px){
    #help_Card{
        margin-top: 10px;
        grid-column: span 2;
    }
}

@media screen and (max-width: 880px){
    #help_Card{
        grid-column: span 1;
    }
    #editor_card{
        margin-top:10px;
    }
}