/* Variables */

:root {
    --top-header: 0;
    --mcgill-red: #ed1b2f;
    --mcgill-burgundy: #9E0918;
    --mcgill-grey: #8f9ba5;
}

body {
    background-color: var(--mcgill-red);
}

/* Navbar */

nav {
    background-color: black;
}

nav ul {
    padding: 1rem;
}
.nav-link {
    padding: 1rem 1rem;
}

nav img {
    margin-left: 4rem;
    margin-right: 1rem;
    left: 0;
    cursor: pointer;
}

/* user-bar CSS */
#user-bar{
    display: flex;
}

.nav {
    right:1em;
}
#navbar.fixed-top{
    z-index: 0 !important;
}
.nav-link {
    color: white;
}
div.collapse {
    position:relative;
    z-index:0 !important;
}

#prospective {
    background-color: var(--mcgill-grey);
    text-align: center;
    padding: 2em;
}

.unit {
    padding: 0 2rem;
    color: white;
}
.unit:hover {
    color: black;
    text-decoration: none;
    transition: all 1s;
}

/* Footer */

footer {
    background-color: var(--mcgill-red);
    position: relative;
    bottom: 0;
}

.col,
#logos {
    text-align: center;
}

#footer-logo img {
    width: 20em;
    float: right;
}

footer span {
    margin-top: 2.4rem;
}