.content {
    /* border: 1px solid rgba(134, 47, 6, 0.582); */
    background-color: white;
    /* \min-height: 25rem; */
}


h2{
    color: var(--mcgill-burgundy);
    font-weight: 300;
}

#header {
    background-color: var(--mcgill-red);
    padding: 0.5em 0;
    display: grid;
    text-align: center;
    top: 0;
    /* transition: all linear 1; */
    /* min-height:100vh;
    animation: head 1s linear;
    animation-play-state: paused;
   
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both; */
}
hr {
    margin:0;
}
@keyframes head{
    to{
        min-height: 3rem;
    }
}
#header span {
    animation : flashing 3s infinite;
    color:white;
    position: absolute;
    bottom: 5em;
    left: 45vw;
    transition: all ease 0.5s;
}

@keyframes flashing{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

#logo-header {
    /* display:inline-block; */
    text-align: center;
    flex-direction:row;
    margin: auto;
    transition: all linear 0.1s;
}


#background-video {
    padding: 0;
    display:grid;
    justify-content: center;
    position: relative;
    text-align: center;
}

#backgroundCarousel{
    z-index: -100;
    top: 4rem;
}

#background-video img {
    width: 100vw;
    height: auto;
    /* z-index:-200; */
}   

.item {
    font-size: large;
    color: white;
    margin: 1em;
}

#teaching{
    /* height: 500px; */
    padding: 2.3rem;
}
/* Need to move the controller block outside and change the colours 
#carousel-controller{
    position: relative;
    top: -100px;
}
*/

.carousel-caption {
    right: unset;
    left: 34%;
    width: fit-content;
    padding: 0.1em;
    border:#ffffff52 solid 0.1em;
    border-radius: 0.5em;
    background-color: rgb(255 255 255 / 11%);
    backdrop-filter: blur(10px);
}

.carousel-caption p {
    margin : 0 1em;
    font-weight: 300;

}
.carousel-item.teaching-slide img {
    max-width: 100%;
}

.card-deck {
    flex-flow: unset;
    overflow-y: auto;
}
.card{
    min-width: 25rem;
    min-height:25rem;
}

.title {
    display: grid;
}
.card-head {
    background-color: var(--mcgill-burgundy);
    border-color: transparent;
    border-radius: 0.5em;
}

.card-head h1 {
    font-weight: 200;
    margin: auto;
    color : white;
    text-shadow: 0.1em 0.1em 0.1em #54040c;
}
.card-head button {
    color: var(--mcgill-burgundy);
    width: fit-content;
    padding: 1em;
    height: fit-content;
    margin: auto;
    background-color: white;
    /* transform: translateY(-3em); */
}

.card-content h3.card-title {
    font-weight: 100;
    color: white;
    text-align: center;
}

.card-content .card-header {
    border-radius: 0.9em 0.9em 0 0;
    background-color: #9e091866;
}
.card-content { 
    border-radius: 1em;
    border-color: #9e091866;;
}

.card-content .card-body {
    border-radius: 0 0 1em 1em;
    background-color: white;
}

@media screen and (max-width: 575px) {

    .card{
        min-width: fit-content!important;
        min-height: unset!important;
    }

    .card-head h1, 
    .card-head button {
        margin: 0.5em auto!important;
    } 

    .card-deck{
        padding: 3rem 1.5rem !important;
    }
}