.content {
    border: 1px solid rgba(134, 47, 6, 0.582);
    background-color: white;
    min-height: 25rem;
}

#header {
    background-color: var(--mcgill-red);
    padding: 0.5em 0;
    text-align: center;
    top: var(--top-header);
    transition: top 0.5s;
}
#logo-header {
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction:row;
    transition: all linear 0.1s;
}
/* #logo-header{
   
} */

#background-video {
    position: relative;
    text-align: center;
}


/* #centered-quote {
    position: absolute;
    top: 10%;
    left: 65%;
} */

#background-video img {
    width: 100%;
}

#background-video {
    padding: 0;
}

.item {
    font-size: large;
    color: white;
    margin: 1em;
}

#teaching{
    height: 500px;
}
/* Need to move the controller block outside and change the colours 
#carousel-controller{
    position: relative;
    top: -100px;
}
*/

.carousel-item.teaching-slide img {
    max-width: 100%;
    max-height: 500px;
}