#lr-form{
    display: grid;
    margin: 1em 5em;
    border: solid 2px black;
    border-radius: 1em;
}

.form-item{
    display:grid;
    padding: 1em;
    grid-template-columns: 25% 75%;
}

#submit-btn{
    margin: 0.5em 1em;
    border-radius: 0.5em;
    background-color: var(--main);
    color: var(--text-color);
}

.error{
    grid-column: span 2;
    background-color: lightcoral;
}

@media only screen and (max-width: 625px){
    #content{
        padding: 1em;
    }
    #lr-form{
        margin: 1em 2em;
    }
}
@media only screen and (max-width: 450px){
    #content{
        padding: 0.5em;
    }
    #lr-form{
        margin: 0.5em 1em;
    }
}
@media only screen and (max-width: 400px){
    #content{
        padding: 1em;
    }
    #lr-form{
        margin: 1em 2em;
    }
    .form-item{
        display: block;
    }
}