#content {
    padding : 3.5rem;
    background-color: white;
    border: 2px black;
    height: 100%;
    text-align: center;
    transition: all 0.7s;
}

#content.hidden {
    transform: translateX(10%);
}

#content h2,
#content h3 {
    color : var(--mcgill-burgundy);
}

#icon {
    position: fixed;
    width:1.4em;
    top: 2.3em;
    left: 1em;
    z-index: 1030;
}

#icon:hover {
    cursor: pointer;
}

/* Side nav */
#menu {
    color: white;
    transition: all 1s;
    width: 15rem;
    max-height: 90vh;
    overflow: scroll;
    position: fixed;
    z-index: 1000;
    background-color: black;
}

#menu ul:hover {
    cursor: pointer;
    background-color: var(--mcgill-burgundy);
}

#menu ul {
    padding: 2rem 1rem;
    text-align: center;
    margin: 0;
}

#menu.hidden {
    transform: translateX(-100%);
}