#content {
    padding : 3.5rem;
    background-color: white;
    border: 2px black;
    height: 100%;
    text-align: center;
    min-height: 40rem;
}

#content h1 {
    font-weight: 300;
}

#content h2 {
    color : var(--secondary);
    font-weight: 200;
}
#content h3{
    font-style:italic;
    font-weight: 200;

}
ul, ol, dl{
   list-style-position: inside;
   text-align:center; 
   padding-inline-start: 0px;
}
li p{
    display:inline;
}

/* Side nav
#menu {
    transition: all 0.5s;
    width: 15rem;
    height: calc(100vh - var(--nav-height));
    overflow: scroll;
    position: fixed;
    z-index: 1000;
    background-color: black;
}
#menu a,
#menu a:hover {
    text-decoration: none;
    color: white;
}
#menu li {
    display:block;
    padding: 0.5em 0;
}

#menu li:hover{
    font-style:italic;
}
.submenu {
    transition: all 1s ease;
    overflow: scroll;
    max-height:15rem;
    background-color: #6B0610;
}
.submenu.hidden {
   max-height: 0;
   overflow: hidden;
}

.menu-item:hover {
    cursor: pointer;
    background-color: var(--secondary);
}
.menu-item {
    padding:1.5rem 0;
    text-align: center;
    margin: 0;
}

#menu.hidden {
    transform: translateX(-100%);
} */

.card-body {
    text-align: left;
}

.card h5.card-title {
    font-weight: 100;
    color: white;
    text-align: center;
}

.card .card-header {
    border-radius: 0.9em 0.9em 0 0;
    background-color: #9e091866;
}
.card { 
    border-radius: 1em;
    border-color: #9e091866;
}

.card-body {
    border-radius: 0 0 1em 1em;
    background-color: white;
}