#content {
    padding : 3.5rem;
    background-color: white;
    border: 2px black;
    height: 100%;
    text-align: center;
    transition: all 0.7s;
}

#content.hidden {
    transform: translateX(10%);
}

#content h2 {
    color : var(--mcgill-burgundy);
}
#content h3{
    font-style:italic;
}

/* Side nav */
#menu {
    color: white;
    transition: all 1s;
    width: 15rem;
    height: 90vh;
    overflow: scroll;
    position: fixed;
    z-index: 1000;
    background-color: black;
}

#menu ul:hover {
    cursor: pointer;
    background-color: var(--mcgill-burgundy);
}

#menu ul {
    padding: 2rem 1rem;
    text-align: center;
    margin: 0;
}

#menu.hidden {
    transform: translateX(-100%);
}
.card-body {
    text-align: left;
}