:root {
    --main: #ed1b2f;
    --secondary: #9E0918;
    --tertiary: #8f9ba5;
    --scroll:0;
    --nav-height:'';
    --text-color: black;
    --btn-color: #ac2431;
    --link-color: var(--secondary);
    --footer-link-color:#024c69;
}

body.blue{
    --main: #1b41ed;
    --secondary: #0b099e;
    --tertiary: #918fa5;
    --text-color: white;
    --btn-color: #273fa7;
    --link-color: var(--secondary);
    --footer-link-color: white;
}

body.green{
    --main: #22ed1b;
    --secondary: #279e09;
    --tertiary: #8fa590;
    --text-color: black;
    --btn-color: #2a8d26;
    --link-color: blue;
    --footer-link-color:#9E0918;
}

body.yellow{
    --main: #edcd1b;
    --secondary: #9e9c09;
    --tertiary: #a2a58f;
    --text-color: black;
    --btn-color: #7c7a13;
    --link-color: blue;
    --footer-link-color:#024c69;
}

body.dark{
    --main: #000000;
    --secondary: #240c0c;
    --tertiary: #343738;
    --text-color: white;
    --btn-color: #2b0303bb;
    --link-color: #024c69;
    --footer-link-color: white;
}